In [ ]:
# 1. what is a database ? Differentiate between SQL and NOSQL databases.
Ans:- A database is a structured collection of data that is organized in a way that allows for efficent retrieval, management, and manipulation
    of the data.
    It is mainly two types:-
        1. SQL and 
        2. NOSQL
        
    The difference between SQL and NOSQL are:- 
        SQL databases are  also known as relational databases which stores data in tables with
        predefined columns and rows, and enforce strict data consistency rules.
        It uses structured query language(SQL) to managed data.examples are:- Mysql,
            oracle and microsoft SQL server.
        
        similarly, NOSQL databases also known as Non-Relational Databases
        that are designed to handle unstructured or semi-structured data .
        It can store data in a variety of formats such as key-value pairs, 
        document-oriented, graph based models.examples are :- mongoDB,Cassandra and Redis.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans:- DDL stands for Data Definition Language and is a subset of SQL that is used to define and
    manage the structure of database objects such as tables, views,indexes, and constraints.
    
    CREATE:- It is used to create new database objects such as tables, views, indexes or 
        procedures.
        examples:-
            CREATE TABLE Course(
                ID INT PRIMARY KEY,
                NAME VARCHAR(50) NOT NULL,
                SUBJECT VARCHAR(50) NOT NULL UNIQUE
            
            );
            
    DROP:- This command is used to delete existing database objects such as tables, views,
        indexes or procedures.
        Examples:
            DROP TABLE Course;
            
    ALTER:- It used to modify the structure of an existing database object
        such as table, view, or index.
        examples:-
            ALTER TABLE Course
            ADD Time INT;
            
    TRUNCATE:-It is used to remove all the data from a table,but keeps
        the table structure intact.
        examples:-
            TRUNCATE TABLE Course;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans:- DML stands for Data Manipulation Language and it is subset of SQL
    that is used to manipulate data within a database.
    
    1. INSERT:- This command is used to add new data to a table.
        examples:-
            INSERT INTO Customers(Name,Email, Age) VALUES ('Nawaj', 'nawaj@gmail.com', 22);
            
    2. UPDATE:- It is used to modify existing data in a table.
        examples:-
            UPDATE Customers
            SET Age = 26
            WHERE ID = 1;
    3. DELETE:- This command is used to remove the data from the tabal.
        examples:-
            DELETE FROM Customer 
            WHERE ID =2;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans:- DQL stands for  Data Query Language which is a subset of 
    SQL that is used to retrive data from a data base.
    
    SELECT:- This is command is used to retrive data from one or more tables in 
        a database.
        examples:-
            
            SELECT * FROM Customers;
#             where '*' means all columns in the 'customers'

             SELECT COUNT(*) FROM Customers;
#          this query will retrieve the number of rows in "customes" table.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Ans:- A primary  key is a unique identifier for each row in a table.it used to 
    ensure that each row can be identified and accessed quickly and to prevent duplicate or null values.
    ex:- In a "Customers" table, the ID columns is used as primary key.
        
Foreign Key:- A foreign key is a column or combination of columns in a table that
    refers to the primary key of another table.
    it is used to establish relationships between tables and enforces referential integrity.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:- Following are the code to connect MYSQL to python:-
    
import pymysql
db = pymysql.connect(
     host = "localhost",
    user = "admin",
    password = "password",
    database = "skills"
)
# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method
cursor.execute("SELECT * FROM Customers")

# fetch data using fetchall() method
data = cursor.fetchall()

# print the data
for i in data:
    print(i)
    
# disconnect from the server    
db.close()

Here , "cursor()" method is used to execute SQL queries and fetch data.
similarly, "execure()" method is used to crate cursor object, which is used
to execute SQL queries and fetch data.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans:- The order of execution of SQL clauses in an SQL query are:-
    1. FROM clauses :- specifies the table or tables from which data will be retrieved.
    2. WHERE Clause:- It filters the data based on specified conditions.
    3. GROUP  BY clause:- groups data based on specified conditions.
    4. HAVING clause:- filters the grouped data based on specified conditions.
    5. SELECT clause:- selects the columns to be displayed in the result set.
    6. ORDER BY clause:- sorts the result set based on specified columns.